openapi: 3.1.0
info:
    title: Agulhão API - Cobmais
    description: API do sistema Agulhão para integração com Cobmais.
    contact:
        email: contato@softros.com.br
        url: https://agulhao.com.br
    version: 1.0.1
externalDocs:
    description: Mais sobre a API
    url: https://docs.agulhao.com.br/api
servers:
    - url: https://api-integracoes.agulhao.com.br
      description: Produção
tags:
    - name: duplicatas-cb
components:
    securitySchemes:
        chaveApi:
            description: Chave da API gerada no agulhão
            type: apiKey
            name: x-api-key
            in: header
paths:
    /duplicatas:
        get:
            operationId: getDuplicatas
            tags:
                - duplicatas-cb
            security:
                - chaveApi: []
            summary: Retorna duplicatas
            description: Retorna duplicatas em um intervalo de datas ou pelo identificador
            parameters:
                - name: dataInicial
                  in: query
                  description: Data inicial para filtro das duplicatas (yyyy-MM-dd)
                  schema:
                      type: string
                      example: '2026-01-16'
                - name: dataFinal
                  in: query
                  description: Data final para filtro das duplicatas (yyyy-MM-dd)
                  schema:
                      type: string
                      example: '2026-01-20'
                - name: agrupadoPorCliente
                  in: query
                  description: Indica se as duplicatas devem ser agrupadas por cliente
                  schema:
                      type: boolean
                      example: true
                - name: duplicatas
                  in: query
                  description: Lista de id's das duplicatas separados por vírgula
                  schema:
                      type: string
                      example: '1,2,3,4'
                - name: tipo
                  in: query
                  description: Tipo do retorno das duplicatas (aberto, vencido, comPagamento, liquidado)
                  schema:
                      type: string
                      example: 'aberto'
                      enum:
                          - aberto
                          - vencido
                          - comPagamento
                          - liquidado
            responses:
                '200':
                    description: Retorno das duplicatas
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    type: object
                                    properties:
                                        clienteId:
                                            type: number
                                            description: Identificador único do cliente
                                            example: 1
                                        clienteCpfCnpj:
                                            type: string
                                            description: CPF ou CNPJ do cliente
                                            example: '00000000000'
                                        filialId:
                                            type: number
                                            description: Identificador único da filial
                                            example: 1
                                        filialNome:
                                            type: string
                                            description: Nome da filial
                                            example: 'Filial Principal'
                                        id:
                                            type: number
                                            description: Identificador único da duplicata
                                            example: 1
                                        dataEmissao:
                                            type: string
                                            format: date
                                            description: Data de emissão da duplicata
                                            example: '2024-08-27T00:00:00'
                                        status:
                                            type: string
                                            description: Status da duplicata
                                            example: 'A'
                                            enum:
                                                - A
                                                - I
                                        tipo:
                                            type: string
                                            description: Tipo da duplicata
                                            example: 'N'
                                        tipoDescricao:
                                            type: string
                                            description: Descrição do tipo da duplicata
                                        pedidoId:
                                            type: number
                                            description: Identificador único do pedido associado à duplicata
                                            example: 1
                                        parcelas:
                                            type: string
                                            description: Parcelas da duplicata
                                            example: '6'
                                        vencimento:
                                            type: string
                                            format: date
                                            description: Data de vencimento da duplicata
                                            example: '2024-09-27T00:00:00'
                                        valor:
                                            type: number
                                            format: float
                                            description: Valor da duplicata
                                            example: 150.75
                                        saldo:
                                            type: number
                                            format: float
                                            description: Saldo da duplicata
                                            example: 100.50
                                        numero:
                                            type: string
                                            description: Número da duplicata
                                            example: '0001'
                '200 (comPagamento)':
                    description: Retorno das duplicatas com pagamentos
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    type: object
                                    properties:
                                        clienteId:
                                            type: number
                                            description: Identificador único do cliente
                                            example: 1
                                        clienteCpfCnpj:
                                            type: string
                                            description: CPF ou CNPJ do cliente
                                            example: '00000000000'
                                        filialId:
                                            type: number
                                            description: Identificador único da filial
                                            example: 1
                                        filialNome:
                                            type: string
                                            description: Nome da filial
                                            example: 'Filial Principal'
                                        id:
                                            type: number
                                            description: Identificador único da duplicata
                                            example: 1
                                        dataEmissao:
                                            type: string
                                            format: date
                                            description: Data de emissão da duplicata
                                            example: '2024-08-27T00:00:00'
                                        status:
                                            type: string
                                            description: Status da duplicata
                                            example: 'A'
                                            enum:
                                                - A
                                                - I
                                        tipo:
                                            type: string
                                            description: Tipo da duplicata
                                            example: 'N'
                                        tipoDescricao:
                                            type: string
                                            description: Descrição do tipo da duplicata
                                        pedidoId:
                                            type: number
                                            description: Identificador único do pedido associado à duplicata
                                            example: 1
                                        parcelas:
                                            type: string
                                            description: Parcelas da duplicata
                                            example: '6'
                                        vencimento:
                                            type: string
                                            description: Data de vencimento da duplicata
                                            example: '2024-09-27T00:00:00'
                                        valor:
                                            type: number
                                            format: float
                                            description: Valor da duplicata
                                            example: 150.75
                                        saldo:
                                            type: number
                                            format: float
                                            description: Saldo da duplicata
                                            example: 100.50
                                        numero:
                                            type: string
                                            description: Número da duplicata
                                            example: '0001'
                                        pagamentos:
                                            type: array
                                            items:
                                                type: object
                                                properties:
                                                    valor:
                                                        type: number
                                                        description: Valor pago na duplicata
                                                        example: 100.50
                                                    dataHora:
                                                        type: string
                                                        description: Data do pagamento
                                                        example: '2024-09-27T00:00:00'
                                                    descricao:
                                                        type: string
                                                        description: Descrição do pagamento
                                                        example: 'Pagamento total'
                '200 (agrupadoPorCliente)':
                    description: Retorno das duplicatas agrupadas por cliente
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    type: object
                                    properties:
                                        id:
                                            type: number
                                            description: Identificador único do cliente
                                            example: 1
                                        cpfCnpj:
                                            type: string
                                            description: CPF ou CNPJ do cliente
                                            example: '00000000000'
                                        nome:
                                            type: string
                                            description: Nome do cliente
                                            example: 'Cliente Exemplo'
                                        telefone:
                                            type: string
                                            description: Telefone do cliente
                                            example: '11999999999'
                                        celular:
                                            type: string
                                            description: Celular do cliente
                                            example: '11988888888'
                                        email:
                                            type: string
                                            description: Email do cliente
                                            example: 'contato@agulhao.com.br'
                                        logradouro:
                                            type: string
                                            description: Logradouro do cliente
                                            example: 'Rua Exemplo'
                                        numero:
                                            type: string
                                            description: Número do endereço do cliente
                                            example: '123'
                                        bairro:
                                            type: string
                                            description: Bairro do cliente
                                            example: 'Bairro Exemplo'
                                        cep:
                                            type: string
                                            description: CEP do cliente
                                            example: '00000000'
                                        cidadeId:
                                            type: number
                                            description: Identificador único da cidade do cliente
                                            example: 1
                                        cidadeNome:
                                            type: string
                                            description: Nome da cidade do cliente
                                            example: 'Cidade Exemplo'
                                        uf:
                                            type: string
                                            description: Unidade Federativa do cliente
                                            example: 'SP'
                                        ieRg:
                                            type: string
                                            description: Inscrição Estadual ou RG do cliente
                                            example: '123456789'
                                        dataAniversario:
                                            type: string
                                            description: Data de aniversário do cliente
                                            example: '1990-01-01'
                                        duplicatas:
                                            type: array
                                            items:
                                                type: object
                                                properties:
                                                    clienteId:
                                                        type: number
                                                        description: Identificador único do cliente
                                                        example: 1
                                                    clienteCpfCnpj:
                                                        type: string
                                                        description: CPF ou CNPJ do cliente
                                                        example: '00000000000'
                                                    filialId:
                                                        type: number
                                                        description: Identificador único da filial
                                                        example: 1
                                                    filialNome:
                                                        type: string
                                                        description: Nome da filial
                                                        example: 'Filial Principal'
                                                    id:
                                                        type: number
                                                        description: Identificador único da duplicata
                                                        example: 1
                                                    dataEmissao:
                                                        type: string
                                                        format: date
                                                        description: Data de emissão da duplicata
                                                        example: '2024-08-27T00:00:00'
                                                    status:
                                                        type: string
                                                        description: Status da duplicata
                                                        example: 'A'
                                                        enum:
                                                            - A
                                                            - I
                                                    tipo:
                                                        type: string
                                                        description: Tipo da duplicata
                                                        example: 'N'
                                                    tipoDescricao:
                                                        type: string
                                                        description: Descrição do tipo da duplicata
                                                    pedidoId:
                                                        type: number
                                                        description: Identificador único do pedido associado à duplicata
                                                        example: 1
                                                    parcelas:
                                                        type: string
                                                        description: Parcelas da duplicata
                                                        example: '6'
                                                    vencimento:
                                                        type: string
                                                        format: date
                                                        description: Data de vencimento da duplicata
                                                        example: '2024-09-27T00:00:00'
                                                    valor:
                                                        type: number
                                                        format: float
                                                        description: Valor da duplicata
                                                        example: 150.75
                                                    saldo:
                                                        type: number
                                                        format: float
                                                        description: Saldo da duplicata
                                                        example: 100.50
                                                    numero:
                                                        type: string
                                                        description: Número da duplicata
                                                        example: '0001'
