openapi: 3.1.0
info:
    title: Agulhão API
    description: API do sistema Agulhão
    contact:
        email: contato@softros.com.br
        url: https://agulhao.com.br
    version: 1.0.1
externalDocs:
    description: Mais sobre a API
    url: https://docs.agulhao.com.br/api
servers:
    - url: https://api-integracoes.agulhao.com.br
      description: Produção
tags:
    - name: filiais
    - name: pessoas
    - name: produtos
    - name: pedidos
    - name: tipos-lancamento
components:
    securitySchemes:
        chaveApi:
            description: Chave da API gerada no agulhão
            type: apiKey
            name: x-api-key
            in: header
paths:
    /produtos:
        get:
            operationId: getProdutos
            tags:
                - produtos
            security:
                - chaveApi: []
            summary: Retorna produtos
            description: Retorna lista de produtos cadastrados no Agulhão
            parameters:
                - name: pagina
                  in: query
                  description: Número da página para paginação dos resultados
                  schema:
                      type: integer
                      default: 1
                      example: 1
                - name: qtdePorPagina
                  in: query
                  description: Quantidade de produtos por página
                  schema:
                      type: integer
                      default: 100
                      example: 10
                - name: ultimaAtualizacao
                  in: query
                  description: Data da última atualização dos produtos (formato ISO 8601)
                  schema:
                      type: string
                      format: date-time
                      example: '2025-01-01T00:00:00Z'
                - name: marcas
                  in: query
                  description: Filtra produtos por marcas (IDs separados por vírgula)
                  schema:
                      type: string
                      example: '1,2,3'
                - name: grupos
                  in: query
                  description: Filtra produtos por departamentos (IDs separados por vírgula)
                  schema:
                      type: string
                      example: '1,2,3'
                - name: subGrupos
                  in: query
                  description: Filtra produtos por grupos (IDs separados por vírgula)
                  schema:
                      type: string
                      example: '1,2,3'
                - name: fornecedorCod
                  in: query
                  description: Filtra produtos por código do fornecedor
                  schema:
                      type: string
                      example: '1'
                      enum:
                          - '1'
                          - '0'
                - name: comEstoque
                  in: query
                  description: Filtra produtos que possuem estoque
                  schema:
                      type: string
                      example: '1'
                      enum:
                          - '1'
                          - '0'
                - name: semEstoque
                  in: query
                  description: Filtra produtos que não possuem estoque
                  schema:
                      type: string
                      example: '1'
                      enum:
                          - '1'
                          - '0'
                - name: precoMin
                  in: query
                  description: Filtra produtos com preço mínimo
                  schema:
                      type: string
                      example: '10.00'
                - name: precoMax
                  in: query
                  description: Filtra produtos com preço máximo
                  schema:
                      type: string
                      example: '100.00'
                - name: filialCod
                  in: query
                  description: Filtra produtos por código da filial
                  schema:
                      type: string
                      example: '1'
                - name: radioStatus
                  in: query
                  description: Filtra produtos pelo status (A - Ativo, I - Inativo)
                  schema:
                      type: string
                      example: 'A'
                      enum:
                          - A
                          - I
                - name: pesquisa
                  in: query
                  description: Pesquisa pela descrição do produto
                  schema:
                      type: string
                      example: 'Produto'
                - name: codigoOriginal
                  in: query
                  description: Filtra produtos pelo código original
                  schema:
                      type: string
                      example: 'REF123'
                - name: codigoInterno
                  in: query
                  description: Filtra produtos pelo código interno
                  schema:
                      type: string
                      example: '1'
            responses:
                '200':
                    description: Sucesso
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    type: object
                                    properties:
                                        produtoCodigo:
                                            type: number
                                            description: Identificador único do produto
                                            example: 1
                                        produtoDescricao:
                                            type: string
                                            description: Descrição do produto
                                            example: 'Produto Personalizado'
                                        produtoReferencia:
                                            type: string
                                            description: Referência do produto
                                            example: 'REF123'
                                        marcaNome:
                                            type: string
                                            description: Nome da marca do produto
                                            example: 'Marca Exemplo'
    /pedidos:
        get:
            operationId: getPedidos
            tags:
                - pedidos
            security:
                - chaveApi: []
            summary: Retorna pedidos
            description: Retorna pedidos do Agulhão
            parameters:
                - name: filialCod
                  in: query
                  description: Código da filial
                  schema:
                      type: string
                      example: '1'
                - name: clienteCod
                  in: query
                  description: Código do cliente
                  schema:
                      type: string
                      example: '1'
                - name: colecaoCod
                  in: query
                  description: Código da coleção
                  schema:
                      type: string
                      example: '1'
                - name: tipoIntervalo
                  in: query
                  description: >
                      Tipo de intervalo para busca dos pedidos:
                      * '1' - Data emissão
                      * '2' - Data fechamento
                  schema:
                      type: string
                      enum:
                          - '1'
                          - '2'
                - name: dataInicial
                  in: query
                  description: Data inicial do intervalo (formato dd/MM/yyyy)
                  schema:
                      type: string
                      example: '01/01/2025'
                - name: dataFinal
                  in: query
                  description: Data final do intervalo (formato dd/MM/yyyy)
                  schema:
                      type: string
                      example: '31/01/2025'
                - name: pagina
                  in: query
                  description: Página atual da busca
                  schema:
                      type: string
                      default: '1'
                - name: qtdePorPagina
                  in: query
                  description: Quantidade de usuários por página
                  schema:
                      type: string
                      default: '100'
            responses:
                '200':
                    description: Sucesso
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    type: object
                                    properties:
                                        filialCod:
                                            type: number
                                            description: Código da filial
                                            example: 1
                                        pedidoId:
                                            type: number
                                            description: Identificador único do pedido
                                            example: 1
                                        pedidoDataEmissao:
                                            type: string
                                            format: date-time
                                            description: Data de emissão do pedido
                                            example: '2025-01-01T00:00:00'
                                        pedidoDataFechamento:
                                            type: string
                                            format: date-time
                                            description: Data de emissão do pedido
                                            example: '2025-01-01T00:00:00'
                                        pedidoPrevisaoEntrega:
                                            type: string
                                            format: date-time
                                            description: Data de emissão do pedido
                                            example: '2025-01-01T00:00:00'
                                        pedidoSaidaStatus:
                                            type: string
                                            description: Status do pedido
                                            example: 'Digitando'
                                            enum:
                                                - Digitando
                                                - Analisando
                                                - Aprovando
                                                - Aguardando data envio
                                                - PCP/Produzindo
                                                - Separando
                                                - Conferindo
                                                - Faturando
                                                - Despachado
                                                - Cancelado
                                        clienteCod:
                                            type: number
                                            description: Código do cliente
                                            example: 1
                                        clienteNome:
                                            type: string
                                            description: Nome do cliente
                                            example: 'Nome do Cliente'
                                        clienteCidade:
                                            type: string
                                            description: Cidade do cliente
                                            example: 'São Paulo'
                                        clienteUf:
                                            type: string
                                            description: UF do cliente
                                            example: 'SP'
                                        vendedorCod:
                                            type: number
                                            description: Código do vendedor
                                            example: 1
                                        vendedorNome:
                                            type: string
                                            description: Nome do vendedor
                                            example: 'Nome do Vendedor'
                                        valorLiquido:
                                            type: number
                                            format: float
                                            description: Valor líquido do pedido
                                            example: 1000.00
                                        totalPecas:
                                            type: number
                                            format: float
                                            description: Total de peças no pedido
                                            example: 10
    /pessoas:
        get:
            operationId: getPessoas
            tags:
                - pessoas
            security:
                - chaveApi: []
            summary: Retorna pessoas
            description: Retorna lista de pessoas cadastradas no sistema
            parameters:
                - name: pagina
                  in: query
                  description: Página atual da busca
                  schema:
                      type: string
                      default: '1'
                - name: qtdePorPagina
                  in: query
                  description: Quantidade de usuários por página
                  schema:
                      type: string
                      default: '100'
                - name: ultimaAtualizacao
                  in: query
                  description: Retorna apenas usuários que foram atualizados após a data informada
                  schema:
                      type: string
                      format: date-time
                      example: '2025-01-01T00:00:00'
                - name: vendedor
                  in: query
                  description: Retorna apenas usuários que são vendedores
                  schema:
                      type: string
                      default: '0'
                      enum:
                          - '1'
                          - '0'

                - name: cliente
                  in: query
                  description: Retorna apenas usuários que são clientes
                  schema:
                      type: string
                      default: '0'
                      enum:
                          - '1'
                          - '0'

                - name: guia
                  in: query
                  description: Retorna apenas usuários que são guias
                  schema:
                      type: string
                      default: '0'
                      enum:
                          - '1'
                          - '0'

            responses:
                '200':
                    description: Sucesso
                    headers:
                        x-tem-proxima-pagina:
                            description: Indica se há uma próxima página de resultados
                            schema:
                                type: string
                                example: ['true', 'false']
                        x-pagina:
                            description: Página atual da busca
                            schema:
                                type: string
                                example: '1'
                        x-qtde-por-pagina:
                            description: Quantidade de usuários por página
                            schema:
                                type: string
                                example: '100'
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    type: object
                                    properties:
                                        id:
                                            type: string
                                            description: Identificador único do usuário
                                            example: '1'
                                        razaoSocial:
                                            type: string
                                            description: Razão social do usuário
                                            example: 'RAZÃO SOCIAL DA EMPRESA'
                                        documento:
                                            type: string
                                            description: CNPJ ou CPF do usuário
                                            example: '00000000000000'
                                        fantasia:
                                            type: string
                                            description: Nome fantasia do usuário
                                            example: 'FANTASIA DA EMPRESA'
                                        email:
                                            type: string
                                            description: E-mail do usuário
                                            example: 'contato@empresa.com'
                                        telefone:
                                            type: string
                                            description: Telefone do usuário
                                            example: '1112345678'
                                        celular:
                                            type: string
                                            description: Celular do usuário
                                            example: '11912345678'
                                        guia:
                                            type: boolean
                                            description: Indica se o usuário é um guia
                                            example: true
                                        vendedor:
                                            type: boolean
                                            description: Indica se o usuário é um vendedor
                                            example: false
                                        cliente:
                                            type: boolean
                                            description: Indica se o usuário é um cliente
                                            example: true
                                        ultimaAtualizacao:
                                            type: string
                                            format: date-time
                                            description: Data da última atualização do usuário
                                            example: '2025-01-01T00:00:00'
                                        endereco:
                                            type: object
                                            properties:
                                                cidadeId:
                                                    type: string
                                                    description: Identificador da cidade do endereço (Código IBGE)
                                                    example: '1'
                                                cidadeNome:
                                                    type: string
                                                    description: Nome da cidade do endereço
                                                    example: 'São Paulo'
                                                uf:
                                                    type: string
                                                    description: Sigla da unidade federativa do endereço
                                                    example: 'SP'
                                                cep:
                                                    type: string
                                                    description: CEP do endereço
                                                    example: '01000000'
                                                logradouro:
                                                    type: string
                                                    description: Logradouro do endereço
                                                    example: 'Avenida Paulista'
                                                numero:
                                                    type: string
                                                    description: Número do endereço
                                                    example: '1000'
                                                complemento:
                                                    type: string
                                                    description: Complemento do endereço
                                                    example: 'Apto 101'
                                                bairro:
                                                    type: string
                                                    description: Bairro do endereço
                                                    example: 'Bela Vista'
    /tipos-lancamento:
        get:
            operationId: getTiposLancamento
            tags:
                - 'tipos-lancamento'
            security:
                - chaveApi: []
            summary: Busca tipos de lançamento disponíveis
            description: Retorna lista com os tipos de lançamento
            responses:
                '200':
                    description: Sucesso
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    type: object
                                    properties:
                                        id:
                                            type: string
                                            description: Identificador do tipo de lançamento
                                            example: '1'
                                        descricao:
                                            type: string
                                            description: Descrição do tipo de lançamento
                                            example: 'VENDA'
    /filiais:
        get:
            tags:
                - filiais
            security:
                - chaveApi: []
            summary: Busca filiais disponíveis
            description: Retorna as filiais que a integração tem permissão de acessar
            operationId: getFiliais
            responses:
                '200':
                    description: Sucesso
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    type: object
                                    properties:
                                        id:
                                            type: string
                                            description: Identificador único da filial
                                            example: '1'
                                        razaoSocial:
                                            type: string
                                            description: Razão social completa da filial
                                            example: 'RAZÃO SOCIAL DA EMPRESA'
                                        cnpj:
                                            type: string
                                            description: CNPJ da filial
                                            example: '00000000000000'
                                        fantasia:
                                            type: string
                                            description: Nome fantasia da filial
                                            example: 'FANTASIA'
